body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar design */

.header-container {
  width: 1160px;
  margin: auto;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 62px;
  height: 62px;
}

.logo-container h1 {
  font-family: "Quicksand", serif;
  font-size: 32px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links {
  list-style-type: none;
}

.home > a {
  text-decoration: none;
  color: orange;
  font-size: 20px;
  font-weight: bold;
  font-family: "Quicksand", serif;
}

.about > a {
  text-decoration: none;
  color: skyblue;
  font-size: 20px;
  font-weight: bold;
  font-family: "Quicksand", serif;
}

.facilities > a {
  text-decoration: none;
  color: #05d4df;
  font-size: 20px;
  font-weight: bold;
  font-family: "Quicksand", serif;
}

.admission > a {
  text-decoration: none;
  color: #5d58ef;
  font-size: 20px;
  font-weight: bold;
  font-family: "Quicksand", serif;
}

.contact-btn {
  background-color: orange;
  color: white;
  border: none;
  width: 197px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Quicksand", serif;
}

.menu-icon {
  display: none;
}

/* Banner Design */
.banner-container {
  width: 1160px;
  height: 575px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.banner-title {
  font-size: 56px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  color: black;
}

.empowering {
  color: orange;
}

.towards-vision {
  color: skyblue;
}

.banner-subtitle {
  font-size: 20px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  color: black;
}

.enroll-now-btn {
  background-color: black;
  color: white;
  border: none;
  width: 197px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Quicksand", serif;
}

/* Mobile Responsive media query */
@media screen and (max-width: 576px) {
  /* Navbar style */
  .header-container {
    width: auto;
    height: auto;
    padding: 20px;
    border-bottom: 0.5px solid orange;
  }

  .nav-links {
    display: none;
  }

  .logo-container h1 {
    display: none;
  }

  .contact-btn {
    display: none;
  }

  .logo-container img {
    width: 46px;
    height: 46px;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon img {
    width: 30px;
    height: 30px;
  }

  /* Banner Design */
  .banner-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 20px;
  }

  .banner-img img {
    width: 336px;
    height: 413px;
  }

  .banner-title {
    text-align: center;
    font-size: 32px;
  }

  .banner-subtitle {
    text-align: center;
    font-size: 14px;
  }

  .enroll-now-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
